

body {
    background-color: rosybrown;
}

header {
    background-color: lavender;
    length: 150px;
    margin: auto;
    width: 1400px;
    margin-top: 0px;
    
}



.rec3 {
    width: 200px;
   
    margin:0px;
    height:500px;
    position:relative;
    bottom:18.5px;
    left:53px;
    bottom:520px;
  
  
 background:#64B0A7;
 
}

.rec4 {
    width: 1200px;
   
    margin-right: auto;
    height:500px;
    position:relative;
    left:250px;
    right:200px;
    bottom: 20px;
    
  
 background:white;
 
}