body {
    background-color: rosybrown;
}

header {
    background-color: lavender;
    
}



.rec3 {
       width: 200px;
       length:2000px;
  
      margin-left:auto;
       height:30px;
  
  
 background:green;
 
}